.authentication {
  margin: 7rem auto;
  max-width: 25rem;
  text-align: center;
  width: 90%;
}

.authentication form {
  margin-bottom: 1rem;
}

.authentication__header {
  color: white;
  text-align: center;
}
