.course-item {
  margin: 1rem 0;
}

.course-item__content {
  padding: 0;
}

.course-item__info {
  color: #000000;
  padding: 1rem;
  text-align: center;
}

.course-item__info h2,
.course-item__info h3,
.course-item__info p {
  margin: 0 0 0.5rem 0;
}

.course-item__actions {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #000;
}

.course-item__modal-content {
  padding: 0;
}

.course-item__modal-actions {
  text-align: right;
}

.course-item__actions button,
.course-item__actions a {
  margin: 0.5rem;
}
