.form-control {
  color: #0f0;
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  background: #f8f8f8;
  border: 1px solid #ccc;
  color: #000;
  font: inherit;
  padding: 0.15rem 0.25rem;
  width: 100%;
}

.form-control input:focus,
.form-control textarea:focus {
  background: #ebebeb;
  border-color: #510077;
  outline: none;
}

.form-control--invalid label,
.form-control--invalid p {
  color: red;
}

.form-control--invalid input,
.form-control--invalid textarea {
  background: #ffd1d1;
  border-color: red;
}
