.main-navigation__drawer-nav {
  height: 100%;
}

.main-navigation__header-nav {
  display: none;
}

.main-navigation__menu-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 3rem;
  justify-content: space-around;
  margin-right: 2rem;
  width: 3rem;
}

.main-navigation__menu-btn span {
  align-items: start;
  background: #8ac2d6;
  display: flex;
  height: 2.5px;
  width: 1.7rem;
}

.main-navigation__title {
  color: #8ac2d6;
}

.main-navigation__title a {
  color: #8ac2d6;
  text-decoration: none;
}

@media (min-width: 1012px) {
  .main-navigation__header-nav {
    display: block;
  }

  .main-navigation__menu-btn {
    display: none;
  }
}
