.place-item {
  margin: 1rem 0;
}

.place-item__actions {
  border-top: 1px solid #830000;
  padding: 1rem;
  text-align: center;
}

.place-item__actions button,
.place-item__actions a {
  margin: 0.5rem;
}

.place-item__content {
  margin-top: 5rem;
  padding: 0;
}

.place-item__info {
  color: #8ac2d6;
  padding: 1rem;
  text-align: center;
}

.place-item__info h2,
.place-item__info h3,
.place-item__info p {
  margin: 0 0 0.5rem 0;
}

.place-item__modal-actions {
  text-align: right;
}

.place-item__modal-content {
  padding: 0;
}
