:root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #00ff00;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #00ff00;
}

body {
  background-color: #000;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
  place-items: center;
}

button {
  background-color: #1a1a1a;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #00ff00;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: all 200ms;
}

.slide-in-left-exit {
  opacity: 1;
  transform: translateX(0%);
}

.slide-in-left-exit-active {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 200ms;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }
  a:hover {
    color: #00ff00;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* love-ya-like-a-sister-latin-400-normal */
@font-face {
  font-family: 'Love Ya Like A Sister';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/love-ya-like-a-sister@latest/latin-400-normal.woff2)
      format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/love-ya-like-a-sister@latest/latin-400-normal.woff)
      format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
